[package]
name = "sw8s_rust"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "sw8s_rust_lib"
path = "src/lib.rs"

[[bin]]
name = "sw8s_rust"
path = "src/main.rs"

[dependencies]
opencv = "0.84.4"
tokio-serial = "5.4.1"
tokio = { version = "1.29.1", features = ["full"] }
gstreamer = "0.20.7"
anyhow = "1.0.72"
itertools = "0.11.0"
num-traits = "0.2.16"
derive-getters = "0.3.0"
async-trait = "0.1.73"

[dev-dependencies]
assert_approx_eq = "1.1.0"
