---
---

<h1>Mission Graphs</h1>

<h2><a href="{{ site.baseurl }}/graphs/main/index.html" style="color: DarkBlue">Main Branch</a></h2>

<h2>Other Branches</h2>

<!DOCTYPE html> 
<html>
	<body style="background-color:LightGray; font-size:18px">
		<ul>
			{% for directory in site.static_files %}
				{% assign dir_split = directory.path | split: '/' %}
				{% if dir_split[1] == "graphs" %}
					{% if dir_split[2] != "main" %}
						{% if dir_split.size == 4 %}
							{% if dir_split[3] == "index.html" %}
								<li><a href="{{ site.baseurl | append: directory.path }}" style="color: DarkBlue">{{ dir_split[2] }}</a></li>
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
	</body>
</html>
